{% extends '_base.html' %}
{% load static %}


    {% block title %}
        اطلاعات بیماری
    {% endblock title %}


{% block content %}
    <div class="conteiner">
        <h1>{{sickness.summary|safe}}</h1><hr>
        <h1>{{sickness.classification|safe}}</h1><hr>
        <h1>{{sickness.definition|safe}}</h1><hr>
        <h1>{{sickness.pathophysiology|safe}}</h1><hr>
        <h1>{{sickness.differential_diagnoses|safe}}</h1><hr>
        <h1>{{sickness.clinical_features|safe}}</h1><hr>
        <h1>{{sickness.epidemiology|safe}}</h1><hr>
        <h1>{{sickness.etiology|safe}}</h1><hr>
        <h1>{{sickness.diagnosis|safe}}</h1><hr>
        <h1>{{sickness.management|safe}}</h1><hr>
        <h1>{{sickness.treatment|safe}}</h1><hr>
        <h1>{{sickness.risk_factors|safe}}</h1><hr>
        <h1>{{sickness.complications|safe}}</h1><hr>
        <h1>{{sickness.prognosis|safe}}</h1><hr>
        <h1>{{sickness.other_names|safe}}</h1><hr>
        <h1>{{sickness.references|safe}}</h1><hr>
        {% if sickness.gallery %}
            <img src="{{sickness.gallery.url}}" class="w-full" alt="{{sickness.title}}">
        {% else %}
        <img src="{% static 'image/nocver.jpeg' %}" class="w-full" alt="{{experiments.title}}">
        {% endif %}
    </div>
    <a href="{% url 'sickness_update' sickness.id %}">ویرایش بیماری</a>
    <span>|</span>
    <a href="{% url 'sickness_delete' sickness.id %}">حذف بیماری</a>
{% endblock content%}
