{% extends '_base.html' %}
{% load static %}

{% block title %}
    Medicines Detail
{% endblock %}


{% block content %}
        <h1>{{medicines.generic_name|safe}}</h1><hr>
        <h1>{{medicines.english_name|safe}}</h1><hr>
        <h1>{{medicines.pronunciation|safe}}</h1><hr>
        <h1>{{medicines.synonyms|safe}}</h1><hr>
        <h1>{{medicines.other_names|safe}}</h1><hr>
        <h1>{{medicines.brands|safe}}</h1><hr>
        <h1>{{medicines.main_drug_category|safe}}</h1><hr>
        <h1>{{medicines.summary|safe}}</h1><hr>
        <h1>{{medicines.mechanism_of_action|safe}}</h1><hr>
        <h1>{{medicines.indications|safe}}</h1><hr>
        <h1>{{medicines.contraindications|safe}}</h1><hr>
        <h1>{{medicines.related_treatments|safe}}</h1><hr>
        <h1>{{medicines.related_conditions|safe}}</h1><hr>
        <h1>{{medicines.drug_dose|safe}}</h1><hr>
        <h1>{{medicines.different_dosage_forms|safe}}</h1><hr>
        <h1>{{medicines.food_interactions|safe}}</h1><hr>
        <h1>{{medicines.drug_absorption|safe}}</h1><hr>
        <h1>{{medicines.half_life|safe}}</h1><hr>
        <h1>{{medicines.toxicity|safe}}</h1><hr>
        <h1>{{medicines.method_of_consumption|safe}}</h1><hr>
        <h1>{{medicines.adverse_effects|safe}}</h1><hr>
        <h1>{{medicines.side_effects|safe}}</h1><hr>
        <h1>{{medicines.symptoms_of_excessive_consumption|safe}}</h1><hr>
        <h1>{{medicines.warnings|safe}}</h1><hr>
    {% if medicines.gallery %}
        <img src="{{medicines.gallery.url}}" class="w-full" alt="{{medicines.title}}">
       {% else %}
        <img src="{% static 'image/nocver.jpeg' %}" class="w-full" alt="{{experiments.title}}">
    {% endif %}
        <h1>{{medicines.references|safe}}</h1><hr>
    <a href="{% url 'medicines_update' medicines.id %}">ویرایش دارو</a>
    <span>|</span>
    <a href="{% url 'medicines_delete' medicines.id %}">حدف دارو</a>
{% endblock %}